<table class="table">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Twitter</th>
    </tr>
  </thead>
  <tbody>
  	<% @friends.each do |friend| %>
    <tr>
      <td><%= friend.first_name %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
      <td><%= link_to "Show this friend", friend %></td>
      <td><%= button_to "Destroy this friend", friend, method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path %>